<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geplant Einkaufen</title>
</head>
<body>
<h2>Kapazitäten anlegen</h2>

<form action="/batch_create_store_capacities/" method="post">{% csrf_token %}
  <fieldset>
    <legend>Kapazitäten</legend>


    <label for="start_date">Starttag: (dd.mm.yyyy)</label></br>
    <input id="start_date" type="text" name="start_date" value="{{start_date}}"></br>


    <label for="start_time">Startzeit: (HH:MM)</label></br>
    <input id="start_time" type="text" name="start_time" value="{{start_time}}"></br>

    <label for="store">Geschäft:</label></br>
      <select id="store" name="store">
         {% for item in stores %}
          <option value="{{ item.pk }}">{{item.name}}</option>
        {% endfor %}
      </select></br>

    <label for="duration">Dauer einer Kapazität in Minuten:</label></br>
    <input id="duration" type="number" name="duration" value="{{duration}}"></br>

    <label for="amount">Menge zu generierenden Kapazitäten:</label></br>
    <input id="amount" type="number" name="amount" value="{{amount}}"></br>

    <label for="total_capacity">Gesamtkapazität des Ladens:</label></br>
    <input id="total_capacity" type="number" name="total_capacity" value="{{total_capacity}}"></br>

    <label for="reserved_capacity">Davon reserviert für normale Kunden:</label></br>
    <input id="reserved_capacity" type="number" name="reserved_capacity" value="{{reserved_capacity}}"></br>

      <input type="submit" value="Generieren!">
  </fieldset>
</form>
</body>
</html>