{% extends 'bootstrap.html' %}
{% load bootstrap4 %}

{% block bootstrap4_content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'shop_portal_home' %}">ShopScheduler</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop_portal_stores' %}">Stores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop_portal_own_bookings' %}">My Appointments</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_email' %}">Change Email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'impressum' %}">Impressum</a>
        </li>
      </ul>
        <span class="navbar-text">
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
        {% else %}
          You are not logged in
        {% endif %}
        </span>
      </div>
    </nav>
    <h1>{% block title %}{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}
