{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Delete Appointment{% endblock %}

{% block content %}

<style>
table, th, td {
  padding: 10px;
}
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
  <h1 class="display-4">{{ booking.identifier }}</h1>
    <p class="lead">This is your booking code</p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
       <table>
          <tr>
             <th>Store</th>
             <td>{{ booking.store_capacity.store.name }}</td>
          </tr>
             <th>Address</th>
             <td>{{ booking.store_capacity.store.address }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{  booking.store_capacity.start|date:'Y-m-d' }}</td>
          </tr>
          <tr>
            <th>From</th>
            <td>{{  booking.store_capacity.start|date:'H:i' }}</td>
          </tr>
          <tr>
            <th>To</th>
            <td>{{  booking.store_capacity.end|date:'H:i' }}</td>
          </tr>
        </table>
  </div>
</div>
<p>Are you sure you want to delete this appointment? If you want to undo this, you need to book it again.</p>

<form action="{% url 'shop_portal_booking_detail' booking.pk %}" method="get">{% csrf_token %}
  <fieldset>
    <input type="submit" class="btn btn-secondary" value="Go Back">
  </fieldset>
</form>
<form action="{% url 'shop_portal_booking_delete' booking.pk %}" method="post">{% csrf_token %}
  <fieldset>
    <input type="submit" class="btn btn-danger" value="Delete">
  </fieldset>
</form>
{% endblock %}