{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h2 class="display-4">Welcome to Shop Scheduler</h2>
  <p class="lead">Reserve a time for grocery shopping</p>
  <hr class="my-4">
  <p>With a reservation you can skip the queue at your local store. Do not risk infection while waiting.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Join now</a>
  </p>
</div>

{% endblock %}