{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<style>
table, th, td {
  padding: 10px;
}
</style>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <p class="lead">This page is run by:</p>
       <table>
          <tr>
             <th>Name</th>
             <td>{{ impressum_name }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ impressum_address }}</td>
          </tr>
          <tr>
            <th>Contact</th>
            <td>{{ impressum_contact }}</td>
          </tr>
        </table>
  </div>
</div>
{% endblock %}