{% extends 'base.html' %}

{% block title %}My Appointments{% endblock %}

{% block content %}

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>


    {% if today_bookings %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
       <h2 class="display-5">Coming up today:</h2>
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Store</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
        {% for booking in today_bookings %}
            <tr>
              <td>{{ booking.store_capacity.store}} - {{ booking.store_capacity.store.address}}</td>
              <td>{{ booking.store_capacity.start|date:'H:i' }}</td>
              <td>{{ booking.store_capacity.end|date:'H:i' }}</td>
              <td><a href="{% url 'shop_portal_booking_detail' booking.id %}">Detail</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>

    {% endif %}


<form action="#" method="post">{% csrf_token %}
  <fieldset>

    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <input type="text" value="{{date}}" name="date" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" {% if show_past_bookings %}checked{% endif %} name="show_past_bookings" id="show_past_bookings">
        <label class="form-check-label" for="show_past_bookings">Show past appointments</label>
    </div>
  <input type="submit" class="btn btn-primary" value="Filter/Reset">
  </fieldset>
</form>



<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'YYYY-MM-DD',
    });
  });
</script>

    {% if date %}
        <p>Appointments for {{ date|date:'Y-m-d'  }}</p>
        {% else %}
        <p>All appointments</p>
    {% endif %}

{% regroup bookings by store_capacity.store as store_list %}

{% for store in store_list %}
<h3>{{ store.grouper.name }}</h3>
<p>{{ store.grouper.address }}</p>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in store.list %}
        <tr>
        <td>{{ booking.store_capacity.start|date:'Y-m-d' }}</td>
        <td>{{ booking.store_capacity.start|date:'H:i' }}</td>
        <td>{{ booking.store_capacity.end|date:'H:i' }}</td>
        <td><a href="{% url 'shop_portal_booking_detail' booking.id %}">Detail</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}


{% endblock %}