{% extends 'base.html' %}

{% block title %}Book Appointment{% endblock %}

{% block content %}

    <p>Do you want to place a booking for the following appointment:</p>

    <table>
      <tr>
         <th>Store</th>
         <td>{{ storecapacity.store.name }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ storecapacity.store.address }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ storecapacity.start|date:'Y-m-d' }}</td>
      </tr>
      <tr>
        <th>Start</th>
        <td>{{ storecapacity.start|date:'H:i' }}</td>
      </tr>
        <tr>
        <th>End</th>
        <td>{{ storecapacity.end|date:'H:i' }}</td>
      </tr>
        <tr>
        <th>Capacity</th>
        <td>{{ storecapacity.available_capacity}}</td>
      </tr>
    </table>

    {% if method == "POST" %}
        {% if booking %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container-fluid">
          <h1 class="display-4">{{ booking.identifier }}</h1>
            <p class="lead">This is your booking code</p>
          </div>
        </div>
        {% else %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container-fluid">
          <h1 class="display-4">Sorry</h1>
            <p class="lead">You have already booked an appointment in this store at this time.</p>
          </div>
        </div>
        {% endif %}
    {% else %}
    <form action="{% url 'shop_portal_place_booking' storecapacity.pk %}" method="post">{% csrf_token %}
      <fieldset>

      <input type="submit" class="btn btn-primary" value="Book now">
      </fieldset>
    </form>
    {% endif %}



{% endblock %}