{% extends 'base.html' %}

{% block title %}Stores{% endblock %}

{% block content %}

<form action="{% url 'shop_portal_stores' %}" method="post">{% csrf_token %}
  <fieldset>
  <div class="form-group">
    <label for="zip_code">Zip Code:</label>
    <input id="zip_code" class="form-control" type="text" name="zip_code" value="{{ zip_code }}">
  </div>
  <div class="form-group">
    <label for="store_type">Store Type:</label>
      <select id="store_type" class="form-control" name="store_type">
      {% if not store_type  %}
        <option  selected="selected" ></option>
        {% for item in store_types %}
          <option value="{{ item.pk }}">{{item.name}}</option>
        {% endfor %}
      {% else %}
        <option></option>
        {% for item in store_types %}
            {% if store_type == item %}
                <option selected="selected" value="{{ item.pk }}">{{ item.name }}</option>
            {% else %}
                <option value="{{ item.pk }}">{{ item.name }}</option>
            {% endif %}
        {% endfor %}
      {% endif %}
      </select>
  </div>
      <input type="submit" class="btn btn-primary" value="Filter">
  </fieldset>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
        <tr>
            <td>{{ store.name }}</td>
            <td>{{ store.address }}</td>
            <td> <a href="{% url 'shop_portal_store_detail' store.pk %}">Select</a> </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}